<!DOCTYPE html>
<html>
    <head>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <title>Hair Salon</title>
    </head>
    <body>
        <div class="container">
        <h1><i><a href="/">HANDSOME DEVIL</a></i></h1>
            <div class="row">
                {}
                <h4>Add new client for {{ stylist.getName}}:</h4>
                <form action='/clients' method='post'>
                    <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId }}">
                    <label for='client_name'>Client Name</label>
                    <input id='client_name' name='client_name' type='text'>
                <div class="input-field col s12">
                  <button type="submit" class="waves-effect waves-light btn indigo"> <i>SUBMIT<i></button>
                 </div>
            </div>
            </form>

        <div class="row">
        <h3>{{stylist.getName}}'s clients:</h3>
            <ul>
                {% for client in clients %}
                <div class="col s12 m3">
                  <div class="card indigo lighten-5">
                    <div class="card-content black-text">
                        <span class="card-title">{{ client.getName }}</span>
                        <div class="card-action">
                        <a href="/clients/{{client.getID}}/edit"><i>EDIT<i></a>
                        </div>
                    </div>
                  </div>
              </div>
                {% endfor %}

        </div>
        <form action="/delete_all_clients" method="post" class="col s12">
        <button type="submit" class="waves-effect waves-light btn red"> <i>DELETE ALL CLIENTS<i></button>
        </form>
        <p><a href="/">HOME</a></p>
         </div>
    </body>
</html>
